<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a la página de inicio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Esta es una página de inicio simple. Puedes navegar a la página de
        perfil haciendo clic en el siguiente enlace:
      </p>
      <ion-button
        (click)="goToProfile()"
        expand="block"
        routerLink="/profile-page"
        >Perfil</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
