<ion-content [fullscreen]="true">
  <div class="container">
    <h1 class="heading">🚀 Create Account<br /><br /></h1>
    <p class="para">Sign up to get started!</p>
    <form [formGroup]="formData">
      <ion-item
        lines="none"
        class="ion-item"
        [ngClass]="{ 'invalid-field': username?.invalid && (username?.dirty || username?.touched) }"
      >
        <fieldset class="input-item">
          <legend>Username</legend>
          <ion-input
            formControlName="username"
            type="text"
            placeholder="JohnDoe"
          ></ion-input>
        </fieldset>
        <div
          class="error-message"
          *ngIf="username?.invalid && (username?.dirty || username?.touched)"
        >
          <span *ngIf="username?.errors?.['required']"
            >Username is required</span
          >
        </div>
      </ion-item>

      <ion-item
        lines="none"
        class="ion-item"
        [ngClass]="{ 'invalid-field': email?.invalid && (email?.dirty || email?.touched) }"
      >
        <fieldset class="input-item">
          <legend>Email Id</legend>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="john@doe.com"
          ></ion-input>
        </fieldset>
        <div
          class="error-message"
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        >
          <span *ngIf="email?.errors?.['required']">Email is required</span>
          <span *ngIf="email?.errors?.['email']">Invalid email format</span>
        </div>
      </ion-item>

      <ion-item
        lines="none"
        class="ion-item"
        [ngClass]="{ 'invalid-field': password?.invalid && (password?.dirty || password?.touched) }"
      >
        <fieldset class="input-item">
          <legend>Password</legend>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="*******"
          ></ion-input>
        </fieldset>
        <div
          class="error-message"
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <span *ngIf="password?.errors?.['required']"
            >Password is required</span
          >
        </div>
      </ion-item>

      <!-- Botón de registro -->
      <ion-button
        class="register-button"
        [disabled]="formData.invalid"
        (click)="register()"
        expand="block"
        >Sign Up</ion-button
      >
    </form>
  </div>
</ion-content>
