<ion-content [fullscreen]="true">
  <div class="container">
    <h1 class="heading">🚀 Create Account</h1>
    <p class="para">Sign up to get started!</p>
    <form [formGroup]="formData">
      <ion-item
        lines="none"
        class="ion-item"
        [ngClass]="{ 'invalid-field': username?.invalid && (username?.dirty || username?.touched) }"
      >
        <ion-label position="stacked">Username</ion-label>
        <ion-input
          formControlName="username"
          type="text"
          placeholder="JohnDoe"
        ></ion-input>
      </ion-item>
      <div
        class="error-message"
        *ngIf="username?.invalid && (username?.dirty || username?.touched)"
      >
        <span *ngIf="username?.errors?.['']">Username is required</span>
      </div>

      <ion-item
        lines="none"
        class="ion-item"
        [ngClass]="{ 'invalid-field': email?.invalid && (email?.dirty || email?.touched) }"
      >
        <ion-label position="stacked">Email Id</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          placeholder="john@doe.com"
        ></ion-input>
      </ion-item>
      <div
        class="error-message"
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      >
        <span *ngIf="email?.errors?.['required']">Email is required</span>
        <span *ngIf="email?.errors?.['email']">Invalid email format</span>
      </div>

      <ion-item
        lines="none"
        class="ion-item"
        [ngClass]="{ 'invalid-field': password?.invalid && (password?.dirty || password?.touched) }"
      >
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="*******"
        ></ion-input>
      </ion-item>
      <div
        class="error-message"
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >
        <span *ngIf="password?.errors?.['required']">Password is required</span>
      </div>

      <!-- Botón de registro -->
      <ion-button
        class="register-button"
        [disabled]="formData.invalid"
        (click)="register()"
        expand="block"
        >Sign Up</ion-button
      >
    </form>
  </div>
</ion-content>
